<%= stylesheet_link_tag "home_page" %>

<div class="header">
    <div class="homepage-name">Members Only</div>
    <div class="user-nav">
        <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <div><%= link_to 'Create Post', new_user_post_path(current_user.id)%></div>
        <% else %>
            <%= link_to "Sign Up", new_user_registration_path %>
            <%= link_to "Log In", new_user_session_path%>
        <% end %>
    </div>
</div>
<div class="main-content">
    <div class="post-header">POST</div>
    <div class="posts">
        <% if @posts.any? %>
            <% @posts.each do |post|%>
                <div class="post">
                    <% if user_signed_in? %>
                    <div class="post-author"><%= post.user.username %></div>
                    <% end %>
                    <div class="post-title"> <%=post.title%> </div>
                    <div class="post-body"> <%=post.body%> </div>
                </div>
            <%end%>
        <%else%>
            <div>There are no posts at this, moment sign in to create a new post</div>
        <%end%>

    </div>
</div>